<div class="game-question">
  <div class="grid grid--center">
    <div class="grid__cell grid__cell--60-at-medium">
      <div class="game-question__container">
        <% if @question.nil? %>
          <div class="panel panel--question">
            <div class="panel__content">
              <strong>Wow!!</strong> You answered all the questions of the game!
            </div>
          </div>
          <%= link_to 'Let\'s start another game', new_game_path, class: 'button button--large button--secondary button--with-arrow' %>
        <% else %>
          <div class="panel panel--question">
            <div class="panel__content">
             <strong>Question: </strong> <%= @question.title %>
            </div>
          </div>
          <%= link_to 'Show another question', game_path, class: 'button button--large button--secondary button--with-arrow' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
